@media (max-width: 991px) {
  /* SECTION TWO */

  #section-two {
    padding: 60px 0;
  }

  #section-two .right-content {
    margin-top: 45px;
  }

  /* SECTION THREE */

  #section-three {
    padding: 60px 0;
  }

  #section-three .right-content {
    margin-top: 45px;
  }

  /* SECTION FOUR */

  #section-four {
    padding: 60px 0;
  }

  #section-four .content-sec-four {
    flex-direction: column-reverse;
  }

  #section-four .left-content {
    margin-top: 45px;
  }

  #section-four .right-content {
    padding: 30px;
  }

  /* SECTION FIVE */

  #section-five {
    padding: 60px 0;
  }

  #section-five .right-content{
    margin-top: 45px;
    height: auto;
  }

  #section-five .right-content img{
    height: 400px;
  }

  /* SECTION SIX */

  #section-six{
    padding: 60px 0;
  }

  #section-six .content-sec-six{
    flex-direction: column-reverse;
  }

  #section-six .left-content{
    margin-top: 45px;
  }

  #section-six .left-content img{
    height: 400px;
  }

  /* SECTION SEVEN */

  #section-seven{
    padding: 60px 0;
  }

  #section-seven .right-content{
    margin-top: 45px;
    height: auto;
  }

  #section-seven .right-content img{
    height: 400px;
  }
}
