@media (max-width: 991px) {
  /* SECTION ONE */

  #section-one .overlay-text {
    top: 56%;
    left: 50%;
    width: 80%;
    text-align: center;
  }

  #section-one .overlay-text h2 {
    font-size: 36px;
  }

  /* SECTION TWO */

  #section-two {
    padding: 60px 0;
  }

  #section-two .right-content {
    margin-top: 45px;
    width: 80vw;
  }

  #section-two .right-content img{
    height: 450px;
    object-position: top;
  }

  /* SECTION THREE */

  #section-three {
    padding: 60px 0;
  }

  #section-three .content-sec-three {
    flex-direction: column-reverse;
  }

  #section-three .left-content {
    margin-top: 45px;
  }

  /* SECTION FOUR */

  #section-four {
    padding: 60px 0;
  }

  #section-four .right-content {
    margin-top: 45px;
  }

  /* SECTION FIVE */

  #section-five {
    padding: 60px 0;
  }

  /* SECTION SIX */

  #section-six {
    padding: 60px 0;
  }

  /* SECTION SEVEN */

  #section-seven {
    padding: 60px 0;
  }

  /* SECTION EIGHT */

  #section-eight {
    padding: 60px 0;
  }

  #section-eight img {
    width: 100%;
  }
}

@media (max-width: 620px){
    #section-two .right-content {
    width: 85vw;
  }
}

@media (max-width: 475px) {
  /* SECTION ONE */

  #section-one .overlay-text h2 {
    font-size: 28px;
  }

  #section-one .overlay-text p {
    font-size: 14px;
    color: var(--white);
    margin-top: 15px;
  }

  /* SECTION EIGHT */

  #section-eight img {
    height: 300px;
  }
}
