/* SECTION ONE */

#section-one {
  height: 100vh;
  background-image: url(/images/img-9.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-color: #00000081;
  background-blend-mode: color;
}

#section-one .content-sec-one {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--white);
  text-align: center;
}

#section-one .content-sec-one h2 {
  margin-top: 10px;
}

#section-one .btn-know-more {
  margin-top: 25px;
  transition: 0.4s ease;
}

#section-one .btn-know-more a {
  padding: 15px 25px;
  color: var(--white);
  background-color: var(--first-color);
  text-decoration: none;
  border-radius: 15px;
  font-weight: 550;
}

#section-one .btn-know-more:hover {
  transform: translateY(10px);
}

#section-one .btn-know-more i {
  margin-left: 8px;
}

/* SECTION TWO */

#section-two {
  padding: 70px 0;
}

#section-two .content-sec-two {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#section-two .left-content span {
  padding: 10px 20px;
  background-color: var(--first-color);
  color: var(--white);
  border-radius: 10px 20px;
}

#section-two .left-content h2 {
  margin-top: 20px;
}

#section-two .btn-contact-us {
  margin-top: 30px;
}

#section-two .btn-contact-us a {
  padding: 15px 25px;
  background-color: var(--first-color);
  color: var(--white);
  text-decoration: none;
  border-radius: 15px;
  font-weight: 550;
  transition: 0.4s ease;
}

#section-two .btn-contact-us a:hover {
  margin-left: 15px;
}

#section-two .btn-contact-us i {
  margin-left: 8px;
  font-size: 18px;
}

#section-two .right-content img {
  height: 380px;
  width: 100%;
  border-top-left-radius: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 10px;
  box-shadow: 15px 15px var(--first-color);
  object-fit: cover;
}

/* SECTION THREE */

#section-three{
    padding: 70px 0;
}

#section-three .content-sec-three{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#section-three .left-content span{
  padding: 10px 20px;
  color: var(--white);
  border-radius: 10px 20px;
  background-color: var(--first-color);
}

#section-three .left-content h2{
  margin-top: 20px;
}

#section-three .btn-contact-us {
  margin-top: 30px;
}

#section-three .btn-contact-us a {
  padding: 15px 25px;
  background-color: var(--first-color);
  color: var(--white);
  text-decoration: none;
  border-radius: 15px;
  font-weight: 550;
  transition: 0.4s ease;
}

#section-three .btn-contact-us a:hover {
  margin-left: 15px;
}

#section-three .btn-contact-us i {
  margin-left: 8px;
  font-size: 18px;
}

#section-three .right-content img{
  height: 380px;
  width: 100%;
  border-top-left-radius: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 10px;
  box-shadow: 15px 15px var(--first-color);
  object-fit: cover;
}

/* SECTION FOUR */

#section-four {
  padding: 70px 0;
}

#section-four .content-sec-four {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 45px;
}

#section-four .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-four .swiper-slide img {
  display: block;
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 70px 20px;
}

#section-four .right-content{
  border: 3px solid var(--second-color);
  padding: 45px;
  border-radius: 70px 20px;
}

#section-four .right-content span {
  padding: 10px 20px;
  background-color: var(--first-color);
  color: var(--white);
  border-radius: 10px 20px;
}

#section-four .right-content h2 {
  margin-top: 20px;
}

#section-four .right-content ul {
  padding: 0;
}

#section-four .right-content li {
  margin-top: 10px;
  list-style-type: none;
}

#section-four .right-content li i {
  margin-right: 10px;
  color: var(--first-color);
  font-size: 18px;
}

#section-four .btn-know-more {
  margin-top: 30px;
}

#section-four .btn-know-more a {
  padding: 15px 25px;
  background-color: var(--first-color);
  color: var(--white);
  text-decoration: none;
  border-radius: 15px;
  font-weight: 550;
  transition: 0.4s ease;
}

#section-four .btn-know-more a:hover {
  margin-left: 15px;
}

#section-four .btn-know-more i {
  margin-left: 8px;
}

/* SECTION FIVE */

#section-five{
  padding: 70px 0;
}

#section-five .content-sec-five{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#section-five .left-content{
  border: 3px solid var(--second-color);
  padding: 30px;
  border-radius: 20px 70px;
}

#section-five .left-content span{
  padding: 10px 20px;
  background-color: var(--first-color);
  color: var(--white);
  border-radius: 10px 20px;
}

#section-five .left-content h2{
  margin-top: 20px;
}

#section-five .left-content ul{
  padding: 0;
}

#section-five .left-content li{
  list-style-type: none;
  margin-top: 10px;
}

#section-five .left-content li i{
  margin-right: 10px;
  font-size: 18px;
  color: var(--first-color);
}

#section-five .btn-contact-us{
  margin-top: 45px;
}

#section-five .btn-contact-us a{
  padding: 15px 25px;
  color: var(--white);
  background-color: var(--first-color);
  font-weight: 550;
  text-decoration: none;
  border-radius: 15px;
  transition: 0.4s ease;
}

#section-five .btn-contact-us a:hover{
  margin-left: 15px;
}

#section-five .btn-contact-us i{
  margin-left: 8px;
}

#section-five .right-content{
  height: 999px;
}

#section-five .right-content img{
  height: auto;
  width: 100%;
  border-top-left-radius: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 10px;
  box-shadow: 15px 15px var(--first-color);
  object-fit: cover;
  top: 150px;
  position: sticky;
}

/* SECTION SIX */

#section-six{
  padding: 70px 0;
}

#section-six .content-sec-six{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#section-six .left-content img{
  height: 600px;
  width: 100%;
  border-top-left-radius: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 10px;
  box-shadow: 15px 15px var(--first-color);
  object-fit: cover;
}

#section-six .right-content{
  border: 3px solid var(--second-color);
  padding: 45px;
  border-radius: 70px 20px;
}

#section-six .right-content span {
  padding: 10px 20px;
  background-color: var(--first-color);
  color: var(--white);
  border-radius: 10px 20px;
}

#section-six .right-content h2 {
  margin-top: 20px;
}

#section-six .right-content ul {
  padding: 0;
}

#section-six .right-content li {
  margin-top: 10px;
  list-style-type: none;
}

#section-six .right-content li i {
  margin-right: 10px;
  color: var(--first-color);
  font-size: 18px;
}

#section-six .btn-know-more {
  margin-top: 30px;
}

#section-six .btn-know-more a {
  padding: 15px 25px;
  background-color: var(--first-color);
  color: var(--white);
  text-decoration: none;
  border-radius: 15px;
  font-weight: 550;
  transition: 0.4s ease;
}

#section-six .btn-know-more a:hover {
  margin-left: 15px;
}

#section-six .btn-know-more i {
  margin-left: 8px;
}

/* SECTION SEVEN */

#section-seven{
  padding: 70px 0;
}

#section-seven .content-sec-seven{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#section-seven .left-content{
  border: 3px solid var(--second-color);
  padding: 30px;
  border-radius: 20px 70px;
}

#section-seven .left-content span{
  padding: 10px 20px;
  background-color: var(--first-color);
  color: var(--white);
  border-radius: 10px 20px;
}

#section-seven .left-content h2{
  margin-top: 20px;
}

#section-seven .left-content ul{
  padding: 0;
}

#section-seven .left-content li{
  list-style-type: none;
  margin-top: 10px;
}

#section-seven .left-content li i{
  margin-right: 10px;
  font-size: 18px;
  color: var(--first-color);
}

#section-seven .btn-contact-us{
  margin-top: 45px;
}

#section-seven .btn-contact-us a{
  padding: 15px 25px;
  color: var(--white);
  background-color: var(--first-color);
  font-weight: 550;
  text-decoration: none;
  border-radius: 15px;
  transition: 0.4s ease;
}

#section-seven .btn-contact-us a:hover{
  margin-left: 15px;
}

#section-seven .btn-contact-us i{
  margin-left: 8px;
}

#section-seven .right-content{
  height: 999px;
}

#section-seven .right-content img{
  height: auto;
  width: 100%;
  border-top-left-radius: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 10px;
  box-shadow: 15px 15px var(--first-color);
  object-fit: cover;
  top: 150px;
  position: sticky;
}


/* SECTION EIGHT */

#section-eight{
  padding: 70px 0;
}

#section-eight .content-sec-eight{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}


#section-eight img{
  height: 500px;
  object-fit: cover;
  width: 80%;
  border-radius: 20px;
  margin-bottom: 45px;
  border: 4px solid var(--second-color);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#section-eight span{
  background-color: var(--first-color);
  color: var(--white);
  border-radius: 10px 20px;
  padding: 10px 20px;
}

#section-eight p{
  margin-top: 20px;
}

#section-eight .btn-contact-us{
  margin-top: 25px;
}

#section-eight .btn-contact-us a{
  padding: 15px 25px;
  background-color: var(--second-color);
  color: var(--first-color);
  text-decoration: none;
  border-radius: 15px;
  font-weight: 550;
  transition: 0.4s ease;
  border: 2px solid var(--first-color);
}

#section-eight .btn-contact-us a:hover{
  margin-left: 20px;
}

#section-eight .btn-contact-us i{
  margin-left: 8px;
  font-size: 18px;
}