/* SECTION ONE */

#section-one {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#section-one .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-one .overlay-text {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: left;
  font-weight: bold;
  width: 60%;
  padding-top: 10%;
}

#section-one .overlay-text h1 {
  font-size: 20px;
  color: var(--white);
}

#section-one .overlay-text h2 {
  font-size: 48px;
  color: var(--white);
  margin-top: 15px;
}

#section-one .overlay-text p {
  font-size: 16px;
  color: var(--white);
  margin-top: 15px;
}

#section-one .btn-contact-us {
  margin-top: 45px;
}

#section-one .btn-contact-us a {
  background-color: var(--first-color);
  color: var(--white);
  padding: 15px 25px;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  border-radius: 15px;
  font-weight: 550;
  border: none;
}

#section-one .btn-contact-us a:hover {
  margin-left: 15px;
}

#section-one .btn-contact-us i {
  margin-left: 8px;
}

#section-one .swiper-slide img {
  display: block;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

/* SECTION TWO */

#section-two {
  padding: 70px 0;
}

#section-two .content-sec-two {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#section-two .left-content span {
  padding: 10px 20px;
  border-radius: 10px 20px;
  color: var(--white);
  background-color: var(--first-color);
}

#section-two .left-content h2 {
  margin-top: 20px;
}

#section-two .left-content .text {
  padding: 20px;
  border-radius: 10px 20px;
  border: 3px solid var(--second-color);
  margin-top: 10px;
}

#section-two .btn-contact-us {
  margin-top: 45px;
}

#section-two .btn-contact-us a {
  padding: 15px 25px;
  background-color: var(--first-color);
  color: var(--white);
  text-decoration: none;
  border-radius: 15px;
  font-weight: 550;
  transition: 0.4s ease;
}

#section-two .btn-contact-us a:hover {
  margin-left: 15px;
}

#section-two .btn-contact-us i {
  margin-left: 8px;
  font-size: 18px;
  font-weight: bold;
}

#section-two .right-content img {
  height: auto;
  width: 100%;
  border-top-left-radius: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 10px;
  box-shadow: 15px 15px var(--first-color);
  object-fit: cover;
}

/* SECTION CAROUSEL */

:root {
  --slides-per-view: 5;
  --duration: 20s;
}

.carousel {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  animation: scroll var(--duration) linear infinite;
  will-change: transform;
}

.slide {
  flex: 0 0 calc(100% / var(--slides-per-view));
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: auto;
  height: 80px;
  object-fit: contain;
  pointer-events: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1024px) {
  :root {
    --slides-per-view: 4;
    --duration: 27s;
  }
}
@media (max-width: 640px) {
  :root {
    --slides-per-view: 4;
    --duration: 25s;
  }
}

/* SECTION FIVE */

#section-five {
  padding: 70px 0;
}

#section-five .content-sec-five {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      to left,
      var(--second-color) 0%,
      rgba(0, 0, 0, 0) 70%
    ),
    url(/images/img-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border: 3px solid var(--second-color);
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  flex-wrap: wrap;
}

#section-five .left-content span {
  color: var(--white);
  background-color: var(--first-color);
  padding: 10px 20px;
  border-radius: 10px 20px;
}

#section-five .left-content h2 {
  margin-top: 20px;
}

#section-five .left-content ul {
  padding: 0;
}

#section-five .left-content li {
  margin-top: 15px;
  list-style-type: none;
}

#section-five .left-content li i {
  margin-right: 10px;
  color: var(--first-color);
}

#section-five .btn-contact-us {
  margin-top: 25px;
}

#section-five .btn-contact-us a {
  padding: 10px 20px;
  color: var(--white);
  background-color: var(--first-color);
  border-radius: 15px;
  text-decoration: none;
  transition: 0.4s ease;
  font-weight: 550;
}

#section-five .btn-contact-us a:hover {
  margin-left: 15px;
}

#section-five .btn-contact-us i {
  margin-left: 8px;
}

/* SECTION SIX */

#section-six {
  padding: 70px 0;
}

#section-six .title {
  text-align: center;
}

#section-six .title span {
  padding: 10px 20px;
  background-color: var(--first-color);
  color: var(--white);
  border-radius: 15px;
}

#section-six .title h2 {
  margin-top: 20px;
}

#section-six .content-sec-six {
  margin-top: 45px;
}

#section-six .swiper-slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#section-six .card {
  height: 100%;
  border: none;
  background-color: var(--second-color);
  width: 100%;
  padding: 20px;
  border-radius: 70px 20px;
  border: 2px solid var(--first-color);
}

#section-six .card .text {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#section-six .card .text p{
  margin: 5px;
}

#section-six .card .name {
  color: var(--first-color);
  font-weight: 550;
}

#section-six .card .logo img{
  height: 70px;
}

#section-six .swiper-slide .right-content img{
  border-radius: 70px 20px;
  width: auto;
  height: 600px;
  object-fit: cover;
}

/* SECTION SEVEN */

#section-seven{
  padding: 70px 0;
}

#section-seven .title span{
  color: var(--white);
  background-color: var(--first-color);
  padding: 10px 20px;
  border-radius: 10px 20px;
}

#section-seven .title h2{
  margin-top: 25px;
}

#section-seven .content-sec-seven{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

#section-seven .accordion {
  margin: 0 auto;
}

#section-seven .accordion-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

#section-seven .accordion-header {
  width: 100%;
  background: #ececec;
  border: none;
  padding: 15px 20px;
  text-align: left;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color .3s, color .3s;
  font-family: var(--text-font);
  color: #000000;
}

#section-seven .accordion-item.active .accordion-header {
  background-color: var(--second-color);
  color: var(--first-color);                                    
}

#section-seven .accordion-header .icon {
  transition: transform 0.3s;
}

#section-seven .accordion-item.active .icon {
  transform: rotate(90deg);
}
#section-seven .accordion-item.active .icon i {
  color: var(--first-color);
}

#section-seven .accordion-content {
  height: 0px;
  overflow: hidden;
  padding: 0 20px;
  background: #f1f1f1;
  transition: height .4s cubic-bezier(.4,0,.2,1),
              padding .4s cubic-bezier(.4,0,.2,1);
  will-change: height;  
}

#section-seven .accordion-content p {
  margin-bottom: 25px;
  font-family: var(--text-font);
}

#section-seven .accordion-content span{
  font-weight: bold;
  color: var(--first-color);
}

#section-seven .accordion-item.active .accordion-content {
  padding: 15px 20px;
  height: 100% !important;
}

/* SECTION EIGHT */

#section-eight{
  padding: 70px 0;
}

#section-eight .content-sec-eight{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}


#section-eight img{
  height: 400px;
  object-fit: cover;
  width: 80%;
  border-radius: 20px;
  margin-bottom: 45px;
  border: 4px solid var(--second-color);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#section-eight span{
  background-color: var(--first-color);
  color: var(--white);
  border-radius: 10px 20px;
  padding: 10px 20px;
}

#section-eight p{
  margin-top: 20px;
}

#section-eight .btn-contact-us{
  margin-top: 25px;
}

#section-eight .btn-contact-us a{
  padding: 15px 25px;
  background-color: var(--second-color);
  color: var(--first-color);
  text-decoration: none;
  border-radius: 15px;
  font-weight: 550;
  transition: 0.4s ease;
  border: 2px solid var(--first-color);
}

#section-eight .btn-contact-us a:hover{
  margin-left: 20px;
}

#section-eight .btn-contact-us i{
  margin-left: 8px;
  font-size: 18px;
}
